In [374]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore,boxcox
from sklearn.linear_model import LinearRegression,LogisticRegression,Lasso,Ridge
from sklearn.model_selection import train_test_split,GridSearchCV,cross_val_score
from sklearn.preprocessing import LabelEncoder,StandardScaler,OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.metrics import mean_squared_error,mean_absolute_error,confusion_matrix,accuracy_score,classification_report,r2_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB,MultinomialNB
from sklearn.ensemble import GradientBoostingClassifier,AdaBoostClassifier,RandomForestClassifier
from sklearn.externals import joblib

In [375]:
df=pd.read_csv('Mushrom-data.csv',header=None)
df

     0  1  2  3  4  5  6  7  8  9   ... 13 14 15 16 17 18 19 20 21 22
0     p  x  s  n  t  p  f  c  n  k  ...  s  w  w  p  w  o  p  k  s  u
1     e  x  s  y  t  a  f  c  b  k  ...  s  w  w  p  w  o  p  n  n  g
2     e  b  s  w  t  l  f  c  b  n  ...  s  w  w  p  w  o  p  n  n  m
3     p  x  y  w  t  p  f  c  n  n  ...  s  w  w  p  w  o  p  k  s  u
4     e  x  s  g  f  n  f  w  b  k  ...  s  w  w  p  w  o  e  n  a  g
...  .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. .. ..
8119  e  k  s  n  f  n  a  c  b  y  ...  s  o  o  p  o  o  p  b  c  l
8120  e  x  s  n  f  n  a  c  b  y  ...  s  o  o  p  n  o  p  b  v  l
8121  e  f  s  n  f  n  a  c  b  n  ...  s  o  o  p  o  o  p  b  c  l
8122  p  k  y  n  f  y  f  c  n  b  ...  k  w  w  p  w  o  e  w  v  l
8123  e  x  s  n  f  n  a  c  b  y  ...  s  o  o  p  o  o  p  o  c  l

[8124 rows x 23 columns]

In [376]:
df.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
17    object
18    object
19    object
20    object
21    object
22    object
dtype: object

In [377]:
df.isin([0]).sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
dtype: int64

In [378]:
df.isin([np.NaN]).sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
dtype: int64

In [379]:
df.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
dtype: int64

In [380]:
df.isin(['?']).sum()

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11    2480
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
dtype: int64

In [381]:
imputer=SimpleImputer(missing_values='?',strategy="most_frequent")
imputer.fit(df[[11]])
df[11]=imputer.fit_transform(df[[11]]).ravel()

In [382]:
print(df[11].isin(['?']).sum())

0

In [383]:
#here we have dat with more than two class/catagory .So we can use one-hot encoding instead of labelencoder .
#But if we have large columns and data we can not use this as it will create new columns
#nominal means no order in category data ie. blue,red,white
#ordinal means order in category data ie. school,deploma,degree,master

#df1=pd.get_dummies(df[22])
#print(df1.head())
    
from sklearn.preprocessing import OneHotEncoder
for col in df.columns:
    labelEncoder=LabelEncoder()
    labelEncoder.fit(df[col])
    df[col]=labelEncoder.fit_transform(df[col])
    
df

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,1,5,2,4,1,6,1,0,1,4,...,2,7,7,0,2,1,4,2,3,5
1,0,5,2,9,1,0,1,0,0,4,...,2,7,7,0,2,1,4,3,2,1
2,0,0,2,8,1,3,1,0,0,5,...,2,7,7,0,2,1,4,3,2,3
3,1,5,3,8,1,6,1,0,1,5,...,2,7,7,0,2,1,4,2,3,5
4,0,5,2,3,0,5,1,1,0,4,...,2,7,7,0,2,1,0,3,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,0,3,2,4,0,5,0,0,0,11,...,2,5,5,0,1,1,4,0,1,2
8120,0,5,2,4,0,5,0,0,0,11,...,2,5,5,0,0,1,4,0,4,2
8121,0,2,2,4,0,5,0,0,0,5,...,2,5,5,0,1,1,4,0,1,2
8122,1,3,3,4,0,8,1,0,1,0,...,1,7,7,0,2,1,0,7,4,2
8123,0,5,2,4,0,5,0,0,0,11,...,2,5,5,0,1,1,4,4,1,2

In [384]:
df.dtypes

0     int32
1     int32
2     int32
3     int32
4     int32
5     int32
6     int32
7     int32
8     int32
9     int32
10    int32
11    int32
12    int32
13    int32
14    int32
15    int32
16    int32
17    int32
18    int32
19    int32
20    int32
21    int32
22    int32
dtype: object

In [385]:
df

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,1,5,2,4,1,6,1,0,1,4,...,2,7,7,0,2,1,4,2,3,5
1,0,5,2,9,1,0,1,0,0,4,...,2,7,7,0,2,1,4,3,2,1
2,0,0,2,8,1,3,1,0,0,5,...,2,7,7,0,2,1,4,3,2,3
3,1,5,3,8,1,6,1,0,1,5,...,2,7,7,0,2,1,4,2,3,5
4,0,5,2,3,0,5,1,1,0,4,...,2,7,7,0,2,1,0,3,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,0,3,2,4,0,5,0,0,0,11,...,2,5,5,0,1,1,4,0,1,2
8120,0,5,2,4,0,5,0,0,0,11,...,2,5,5,0,0,1,4,0,4,2
8121,0,2,2,4,0,5,0,0,0,5,...,2,5,5,0,1,1,4,0,1,2
8122,1,3,3,4,0,8,1,0,1,0,...,1,7,7,0,2,1,0,7,4,2
8123,0,5,2,4,0,5,0,0,0,11,...,2,5,5,0,1,1,4,4,1,2

In [386]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
count,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,...,8124.000000,8124.000000,8124.000000,8124.0,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000,8124.000000
mean,0.482029,3.348104,1.827671,4.504677,0.415559,4.144756,0.974151,0.161497,0.309207,4.810684,...,1.603644,5.816347,5.794682,0.0,1.965534,1.069424,2.291974,3.596750,3.644018,1.508616
std,0.499708,1.604329,1.229873,2.545821,0.492848,2.103729,0.158695,0.368011,0.462195,3.540359,...,0.675974,1.901747,1.907291,0.0,0.242669,0.271064,1.801672,2.382663,1.252082,1.719975
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,0.000000,3.000000,0.000000,2.000000,1.000000,0.000000,0.000000,2.000000,...,1.000000,6.000000,6.000000,0.0,2.000000,1.000000,0.000000,2.000000,3.000000,0.000000
50%,0.000000,3.000000,2.000000,4.000000,0.000000,5.000000,1.000000,0.000000,0.000000,5.000000,...,2.000000,7.000000,7.000000,0.0,2.000000,1.000000,2.000000,3.000000,4.000000,1.000000
75%,1.000000,5.000000,3.000000,8.000000,1.000000,5.000000,1.000000,0.000000,1.000000,7.000000,...,2.000000,7.000000,7.000000,0.0,2.000000,1.000000,4.000000,7.000000,4.000000,2.000000
max,1.000000,5.000000,3.000000,9.000000,1.000000,8.000000,1.000000,1.000000,1.000000,11.000000,...,3.000000,8.000000,8.000000,0.0,3.000000,2.000000,4.000000,8.000000,5.000000,6.000000

In [387]:
df.skew()

0     0.071946
1    -0.247052
2    -0.590859
3     0.706965
4     0.342750
5    -0.080790
6    -5.977076
7     1.840088
8     0.825797
9     0.061410
10   -0.271345
11    1.706938
12   -1.098739
13   -0.757703
14   -1.835434
15   -1.791593
16    0.000000
17   -6.946944
18    2.701657
19   -0.290018
20    0.548426
21   -1.413096
22    0.985548
dtype: float64

In [388]:

#for col in df.columns:
#    print("column :",col," ,skewness :",df[col].skew())
#      if(df[col].skew()>0.55):
#          df[col]= np.log1p(df[col])
#          print("After log transform: column :",col," ,skewness :",df[col].skew())

In [389]:
#z=np.abs(zscore(df))
#df=df[(z<3).all(axis=1)]

In [390]:
x=df.drop(df.columns[0],axis=1)
x

,1,2,3,4,5,6,7,8,9,10,...,13,14,15,16,17,18,19,20,21,22
0,5,2,4,1,6,1,0,1,4,0,...,2,7,7,0,2,1,4,2,3,5
1,5,2,9,1,0,1,0,0,4,0,...,2,7,7,0,2,1,4,3,2,1
2,0,2,8,1,3,1,0,0,5,0,...,2,7,7,0,2,1,4,3,2,3
3,5,3,8,1,6,1,0,1,5,0,...,2,7,7,0,2,1,4,2,3,5
4,5,2,3,0,5,1,1,0,4,1,...,2,7,7,0,2,1,0,3,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,3,2,4,0,5,0,0,0,11,0,...,2,5,5,0,1,1,4,0,1,2
8120,5,2,4,0,5,0,0,0,11,0,...,2,5,5,0,0,1,4,0,4,2
8121,2,2,4,0,5,0,0,0,5,0,...,2,5,5,0,1,1,4,0,1,2
8122,3,3,4,0,8,1,0,1,0,1,...,1,7,7,0,2,1,0,7,4,2
8123,5,2,4,0,5,0,0,0,11,0,...,2,5,5,0,1,1,4,4,1,2

In [391]:
y=df.iloc[:,0]
y.shape

(8124,)

In [392]:
sc=StandardScaler();
x=sc.fit_transform(x)
x

array([[ 1.02971224,  0.14012794, -0.19824983, ..., -0.67019486,
        -0.5143892 ,  2.03002809],
       [ 1.02971224,  0.14012794,  1.76587407, ..., -0.2504706 ,
        -1.31310821, -0.29572966],
       [-2.08704716,  0.14012794,  1.37304929, ..., -0.2504706 ,
        -1.31310821,  0.86714922],
       ...,
       [-0.8403434 ,  0.14012794, -0.19824983, ..., -1.50964337,
        -2.11182722,  0.28570978],
       [-0.21699152,  0.95327039, -0.19824983, ...,  1.42842641,
         0.28432981,  0.28570978],
       [ 1.02971224,  0.14012794, -0.19824983, ...,  0.16925365,
        -2.11182722,  0.28570978]])

In [393]:
parameters={'criterion':['gini','entropy']}
gd_cv=GridSearchCV(DecisionTreeClassifier(),parameters,cv=10)
gd_cv.fit(x,y)
print("Best param for DecisionTreeClassifier : ",gd_cv.best_params_)

cv_score=cross_val_score(DecisionTreeClassifier(criterion='gini'),x,y,cv=10)
print(cv_score.mean())

Best param for DecisionTreeClassifier :  {'criterion': 'gini'}
0.9611225225552747

In [394]:
parameters={'n_neighbors':[5,10,15,20,30]}
gd_cv=GridSearchCV(KNeighborsClassifier(),parameters,cv=10)
gd_cv.fit(x,y)
print("Best param for KNeighborsClassifier : ",gd_cv.best_params_)

cv_score=cross_val_score(KNeighborsClassifier(n_neighbors=5),x,y,cv=10)
print(cv_score.mean())

Best param for KNeighborsClassifier :  {'n_neighbors': 5}
0.9510240003877872

In [395]:
parameters={'kernel':['rbf','linear','poly']}
gd_cv=GridSearchCV(SVC(),parameters,cv=10)
gd_cv.fit(x,y)
print("Best param for SVC : ",gd_cv.best_params_)

cv_score=cross_val_score(SVC(kernel='poly'),x,y,cv=10)
print(cv_score.mean())

Best param for SVC :  {'kernel': 'poly'}
0.963216118614388

In [396]:
#good for binary classification
cv_score=cross_val_score(LogisticRegression(),x,y,cv=10)
print(cv_score.mean())

cv_score=cross_val_score(GaussianNB(),x,y,cv=10)
print(cv_score.mean())

0.9012892407249196
0.8384989305558082

In [397]:
#throws error as we have -ve data point
#cv_score=cross_val_score(MultinomialNB(),x,y,cv=10)
#print(cv_score.mean())

In [398]:
parameters={'n_estimators':[5,10,50,100],'criterion':['gini','entropy']}
gd_cv=GridSearchCV(RandomForestClassifier(),parameters,cv=10)
gd_cv.fit(x,y)
print("RandomForestClassifier best_params_",gd_cv.best_params_)

cv_score=cross_val_score(RandomForestClassifier(n_estimators=5,criterion='gini'),x,y,cv=10)
print(cv_score.mean())

RandomForestClassifier best_params_ {'criterion': 'gini', 'n_estimators': 10}
0.9687361775095583

In [399]:
from sklearn.metrics import r2_score
max_rand_state=0
max_r2_score=0
r_score=0
for ran_state in range(42,100):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=ran_state)
    #svc=SVC(kernel='poly')
    #svc=RandomForestClassifier(n_estimators=5,criterion='entropy')
    svc=LogisticRegression()
    svc.fit(x_train,y_train)
    y_pred=svc.predict(x_test)
    r_score=r2_score(y_test,y_pred)
    if(r_score>max_r2_score):
        max_r2_score=r_score
        max_rand_state=ran_state
    
   
    

print("max random state value :",max_rand_state," and corresponding max r2_score :",max_r2_score)

max random state value : 96  and corresponding max r2_score : 0.8939626627170446

In [400]:
#we can find overfitting isssue by checking score of train data and test data .If train data score more than test data then it is overfitting
#for classification check score like accuracy_score,mean_squared_error,mean_absolute_error,RMSE(sqrt of MSE),confusion_matrix,classification_report
#for regression check r2_score,mean_squared_error,mean_absolute_error,RMSE(sqrt of MSE)

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=96)
#svc=SVC(kernel='poly')
#svc=RandomForestClassifier(n_estimators=5,criterion='entropy')
svc=LogisticRegression()
svc.fit(x_train,y_train)
y_test_pred=svc.predict(x_train)
print(r2_score(y_train,y_test_pred),mean_squared_error(y_train,y_test_pred),mean_absolute_error(y_train,y_test_pred),accuracy_score(y_train,y_test_pred),confusion_matrix(y_train,y_test_pred),classification_report(y_train,y_test_pred))
y_pred=svc.predict(x_test)

print(r2_score(y_test,y_pred),mean_squared_error(y_test,y_pred),mean_absolute_error(y_test,y_pred),accuracy_score(y_test,y_pred),confusion_matrix(y_test,y_pred),classification_report(y_test,y_pred))

0.8736780135961387 0.03154331435605478 0.03154331435605478 0.9684566856439453 [[3256  105]
 [ 100 3038]]               precision    recall  f1-score   support

           0       0.97      0.97      0.97      3361
           1       0.97      0.97      0.97      3138

    accuracy                           0.97      6499
   macro avg       0.97      0.97      0.97      6499
weighted avg       0.97      0.97      0.97      6499

0.8939626627170446 0.02646153846153846 0.02646153846153846 0.9735384615384616 [[822  25]
 [ 18 760]]               precision    recall  f1-score   support

           0       0.98      0.97      0.97       847
           1       0.97      0.98      0.97       778

    accuracy                           0.97      1625
   macro avg       0.97      0.97      0.97      1625
weighted avg       0.97      0.97      0.97      1625

In [401]:
joblib.dump(svc,'linearReg_mashrom.pkl')

['linearReg_mashrom.pkl']